.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 403px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px; }
  .product__img {
    width: 160px;
    height: 134px;
    margin: 30px 20px;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    padding: 3px;
    border: 3px solid white;
    border-radius: 5px; }
    .product__img:hover {
      -webkit-transform: scale(1.17);
              transform: scale(1.17);
      cursor: -webkit-zoom-in;
      cursor: zoom-in;
      border-color: #e9e9e9;
      margin: 30px; }
  .product__description {
    margin: 0 15px 0 14px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px; }
  .product__description--text {
    margin-bottom: 6px; }
  .product__code {
    width: 170px; }
  .product__code--text {
    margin: 0; }
  .product__rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 14px;
    margin-right: 13px;
    margin-top: 14px; }
  .product__reviews--text {
    margin: 0;
    margin-top: 1px; }
  .product__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 170px;
    margin-bottom: 4px; }
  .product__phrase--text {
    margin-top: 24px;
    margin-right: 61px; }
  .product__current--text {
    margin-top: 19px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px; }
  .product__buy {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #00acdc;
    background-color: #00acdc;
    border-radius: 5px;
    -webkit-transition: background-color 0.5s, color 0.5s;
    transition: background-color 0.5s, color 0.5s; }
  .product__buy--link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 168px;
    height: 38px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff;
    text-decoration: none;
    line-height: 40px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition: color 0.5s;
    transition: color 0.5s; }
  .product__buy:hover {
    background-color: #fff;
    border: 1px solid #00acdc; }
  .product__buy--link:hover {
    color: #00acdc; }

.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 19px; }

.star {
  width: 15px;
  height: 15px;
  margin-right: 4px;
  background-image: url("../images/star.svg");
  background-repeat: no-repeat;
  background-position: center; }

.stars--4 .star:nth-child(-n+4) {
  background-image: url("../images/star-active.svg"); }

/*# sourceMappingURL=product-card.css.map */
